[Unit]
Description=MQTT to Thingsboard IO Bridge
After=network.target
Requires=network.target
 
[Service]
Type=simple
ExecStart=/usr/local/bin/thingsboard_broker  --config /etc/BTLEBroker/thingsboard_setup.yaml --auth /etc/BTLEBroker/auth.yaml
Restart=always
RuntimeMaxSec=3600
StandardOutput=null
 
[Install]
WantedBy=multi-user.target
