[Unit]
Description=Weather Station MQTT broker
After=network.target
Requires=network.target
 
[Service]
Type=simple
ExecStart=/usr/local/bin/mqtt_broker  --config /etc/BTLEBroker/bluetooth_setup.yaml --name "Weather Station" --auth /etc/BTLEBroker/auth.yaml
RestartSec=1
Restart=always
StandardOutput=null
 
[Install]
WantedBy=multi-user.target
